* {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin: 10px;
    text-decoration: underline;
}
.table {
    margin: auto;
    border-spacing: 0px
}

.header {
    padding: 10px;
    text-align: left;
    border: 2px solid black;
    width: 200px;
}